<template>
  <q-page class="flex flex-start">
    <jumbotron/>
    <card/>
  </q-page>
</template>

<style></style>

<script>
import jumbotron from '../components/jumbotron.vue'
import card from '../components/card.vue'

export default {
  name: "PageIndex",
  components: { jumbotron, card }
};
</script>
