<template>
  <q-card>
    <q-toolbar class="text-white bg-primary-gradient">
      <q-toolbar-title>
        Prodotti presenti nell'offerta
      </q-toolbar-title>
    </q-toolbar>
      <q-list>
        <q-item>
           <q-item-section>
          Mensilità
          </q-item-section>
        </q-item>
                <q-item>
                   <q-item-section>
          Mensilità
          </q-item-section>
        </q-item>
                <q-item>
                   <q-item-section>
          Mensilità
          </q-item-section>
        </q-item>
      </q-list>
  </q-card>
</template>
