<template>
<div class="full-width self-start">
    <q-img :ratio="5/1"  
          src="http://web.linkem.com/-/media/linkem/images/carousel/aprile-2019/portaun-amico-homedesktop-1920x520.jpg"
        />
</div>
</template>
