<template>
  <q-layout view="lHh Lpr fFf" class="bg-grey-3">
    <q-header class="text-white transparent">
      <q-toolbar inset class="bg-primary-gradient"></q-toolbar>
      <q-toolbar class="transparent"></q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer>
      <div class="bg-grey-10 text-white q-pa-md column items-center justify-center">
        <div>logo</div>
        <div>testo</div>
        <div>coyright</div>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  methods: {
    openURL
  }
};
</script>

<style lang="stylus">
//$

#q-layout{
  max-width: $breakpoint-lg
}


.bg-primary-gradient {
  background: linear-gradient(145deg, $orange-4 11%, $deep-orange-13 75%);
}

.bg-grey-gradient {
  background: linear-gradient(145deg, $grey-4 11%, $grey-2 75%);
}
</style>
